*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#5252ff;
  --col-04:#b6e878;
  font-size: 16px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}

header a {
  text-decoration: none;
  color: var(--col-01);
}

button {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
button:hover {
  box-shadow: inset 130px 0 0 0 #54b3d6;
  color: white;
  /*I added a hover effect for the Click to Load Text to indicate that it is clickable. The transition
  of the blue block altering the text to white to add a subtle transition of the button*/
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
}

nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  position: relative;
}

nav a::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
  /*I added a hover effect so the navigation text will change and indicate to the user that it is a 
  clickable text and it will direct them to a section of the website */
}

nav a:hover::before {
  bottom: 0;
  height: 100%;
}

section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}
p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  position: sticky;
  top: 1rem;
}

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#load-link{
  line-height: 1rem;
  background-color: transparent;
  border: 0;
}
/* For the load throbber, I used a bright blue and pink color combination
because I plan to use the blue in the navigation and modeswitch buttons
as it will create a nice and legible contrast to the white and black mode */
#load-throbber {
  border: 16px solid #ffcece; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  display: none;
}
/*I added a spin animation to show that the user needs to wait while information
is being loaded onto the screen*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

};
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}